// import des variables sass 
@import '../../styles/_vars.scss';

section .articles {
  width: 100%;
  flex: 1;

  &-list {
    width: 80%;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    margin: 2em auto;
  }
  &-card {
    display: flex;
    flex-direction: column;
    margin: 1.5em 2em;
    padding: 2em;
    background-color: $tertiary-color;
    border-radius: 2.5em;
    color: $last-color;


    &:hover {
      -webkit-transform: scale(1.1);
        transform: scale(1.1);
      transition: .2s ease-in-out;
    }
  }
  &-img-container{
    width: 100%;
    height: 25em;
    overflow: hidden;
    margin: 0 auto 2em auto;
  }
  &-img {
    height: auto;
    width: 100%;
  }
  &-title {
    font-size: 2em;
    margin-bottom: 2em;
    font-weight: bold;
  }
  &-content{
    font-size: 1.3em;
    text-align: right;
  }
  &-read-more {
    margin-top: 1em;
    font-size: 1.3em;
    text-align: right;
  }
  &-a {
    margin-right: 0;
    width: 45%; 
  }
}
@media(max-width: $bp-tablet)
{
  section .articles{
    &-list{
      flex-direction: column;
      width: 45%;
    }
    &-a{
      width: 100%;
    }
    &-card{
      width: 100%;
      margin: 0 0 2em 0;
    }
  }
}
@media(max-width: $bp-phone)
{
  section .articles{
    &-list{
      flex-direction: column;
      width: 80%;
      margin: auto;
    }
    &-a{
      width: 100%;
    }
    &-card{
      width: 100%;
      margin: 0 0 2em 0;
    }
  }
}
