// import des variables sass 
@import '../../styles/_vars.scss';

section .articles {
  width: 100%;
  flex: 1;

  &-list {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 2em auto;
  }
  &-card {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 1.5em 2em;
    padding: 1em;
    background-color: $tertiary-color;
    border-radius: 2.5em;

    &:hover {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
      cursor: pointer;
    }
  }
  &-img {
    max-width: 21em;
    max-height: 15em;
    margin: auto;
    border-radius: 2.5em;
    border: 10px solid $last-color;
  }
  &-title {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 1.2em;
  }
  &-content {
    margin: 2em 0;
  }
  &-read-more {
    margin: 1em 0;
    text-align: right;
    color: black;
  }
}
.page-title {
    font-size: 2.5em;
    padding: 1em;
    text-align: center;
}
@media (max-width: $bp-tablet)
{
  .articles-img {
    max-width: 100%;
  }
}
@media (max-width: $bp-phone)
{
  .articles {
    &-card {
      width: 100%;
      margin: auto;
    }
    &-list {
      flex-direction: column;
      align-items: center;
      width: 80%;
    }
    &-img {
      max-width: 100%;
    }
  }
}
