// import des variables sass 
@import '../../styles/_vars.scss';

.page-title {
    font-size: 2.5em;
    margin: 3rem;
    text-align: center;
}
.relative-card {
  position: relative;
  top: -3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.agriculteurs {
  width: 100%;

  &-form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;

    &--select {
      width: 15em;
      margin-right: 4em;
    }
  }
  &-text {
    padding: 3rem;
    margin: auto;
    font-size: 1.3em;
  }
  &-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 2em;
  }
  &-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 27%;
    max-height: 600px;
    margin: 4em auto;
    padding: 1em;
    background-color: rgba(194, 192, 192, 0.445);
    border-radius: 2.5em;
    position: static;

    &:hover {
      -webkit-transform: scale(1.1);
	    transform: scale(1.1);
      transition: .2s ease-in-out;
      background-color: rgb(194, 192, 192);
    }
  }
  &-img {
    max-width: 22em;
    max-height: 22em;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 2em;
  }
  &-name {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 1.2em;
  }
  &-card-text {
    padding: 2em;
    margin: auto;
    font-size: 1.1em;
  }
  &-tags {
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    p{
      color: white;
      background-color: rgb(0, 131, 0);
      max-height: 1.5em;
      border-radius: 0.5em;
      margin: 0.7em 0;
      padding: 0 0.3em;
    }
  }
}
a {
  text-align: right;
  text-decoration: underline;
  margin-right: 2.5em;
  color: black;
}
@media(max-width: $bp-tablet)
{
  .agriculteurs-list {
    flex-wrap: wrap;
  }
  .agriculteurs-card {
    flex-direction: column;
    max-width: 45%;
  }
}
@media(max-width: $bp-phone)
{
  .page-title {
    margin: auto;
  }
  .agriculteurs{
    &-card {
    flex-direction: column;
    max-width: 60%;
    max-height: 38rem;
    }
    &-img {
    max-width: 80%;
    }
    &-form--select {
      max-width: 80%;
      max-height: 20%;
      margin: 1em auto 2.5em auto;
    }
    &-text {
      display: none;
    }
  }
}
