@import '../../styles/_vars.scss';
footer{
  @media(min-width: $bp-phone){
  background-color: green;
  display: flex;
  height: 60px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  font-size: large;
  }
  @media(max-width: $bp-phone){
    display: none;
    div{
    display: none;
    }
}
}
