@import '../../../styles/vars';

.recette {
  flex: 1;

  &-article{
    display: flex;
    width: 70%;
    margin: 3em auto;
    background-color: $tertiary-color;
    border-radius: 2.5em;
    padding: 2em;
    //cette ligne est pour contraindre le composant EditButton a rester dans recette-container.
    // https://developer.mozilla.org/en-US/docs/Web/CSS/position
    // voir la section "fixed" pour comprendre la relation entre display:fixed et perspective
    perspective: 1em;
  }

  &-img{
    width: 50%;
    margin: auto;
  }

  &-container{
    padding: 2.5em;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    &-ingredient{
      margin-bottom: 1em;
    }
  }

  &-img {
    border-radius: 2.5em;
    border: 10px solid $last-color;
  }
}







