@import '../../../styles/vars';

section .recette {
  flex: 1;

  &-article{
    display: flex;
    width: 70%;
    margin: 3em auto;
    padding: 2em;
    //cette ligne est pour contraindre le composant EditButton a rester dans recette-container.
    // https://developer.mozilla.org/en-US/docs/Web/CSS/position
    // voir la section "fixed" pour comprendre la relation entre display:fixed et perspective
    perspective: 1em;
  }

  &-img{
    width: 50%;
    margin: auto;
  }

  &-container{
    color: $last-color;
    padding: 2.5em;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    &-ingredient{
      margin-bottom: 1em;
    }
  }

  &-img {
    border-radius: 2.5em;
  }
}

@media(max-width: $bp-tablet)
{
  section .recette-article{
    width: 90%;
  }
}
@media(max-width: $bp-phone)
{
  section .recette{
    &-article{
      width: 100%;
      flex-direction: column-reverse;
      padding: 0;
      margin: 0;
    }
    &-img {
      width: 80%;
      border-radius: 0;
      margin:auto;
    }
  }
}
