// import des variables sass 
@import '../../styles/_vars.scss';

main{
  width: 100%;
  display: flex;
  justify-content: center;
  flex: 1;
}

.page-title{
    font-size: 2.5em;
    background-color: $tertiary-color;
    color: $last-color;
    font-weight: 700;
    border-radius: 2.5em;
    margin: 3rem auto;
    width: 70%;
}
.relative-card {
  position: relative;
  top: -3em;
  left: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.producteurs {
  width: 90%;

  &-form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;

    &--select {
      width: 15em;
      margin-right: 4em;
    }
  }

  &-text {
    padding: 3rem;
    margin: auto;
    font-size: 1.3em;
  }
  
  &-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
  }
  
  //style pour une carte
  .producteur{
    display: flex;
    
    &-card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 440px;
      max-height: 600px;
      margin: 4em auto;
      padding: 1em;
      background-color: $tertiary-color;
      border-radius: 2.5em;
      position: static;
      transition: width 0.7s, height 0.7s, transform 0.7s;
      color: $last-color;

      &:hover {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        cursor: pointer;
      }
    }

    &-img {
      z-index: 1;
      max-width: 22em;
      max-height: 22em;
      border-radius: 2.5em;
      border: 10px solid $last-color;
      margin: auto;
      margin-bottom: 2em;
    }

    &-name {
      text-align: center;
      font-size: 1.5em;
      font-weight: bold;
      margin-bottom: 1.2em;
    }

    &-card-text {
      padding: 2em;
      margin: auto;
      font-size: 1.1em;
    }
  }
    .tags-container{
      display: flex;
      width: 100%;
      padding: 0% 10%;
      justify-content: space-around;

      .tag{
        background-color: $last-color;
        border-radius: 2.5em;
        transition: transform 0.7s;

        &:hover{
        -webkit-transform: scale(1.2);
        cursor: pointer;
      }

        p{
          color: white;
          font-size: large;
          margin: 5px 10px;
      }
    }
    }
}

a {
  text-align: right;
  text-decoration: underline;
  margin-right: 2.5em;
  color: black;
}



@media(max-width: $bp-tablet)
{
  .page-title {
    margin: 2em auto;
  }
  .producteurs{
    &-card {
    flex-direction: column;
    max-width: 60%;
    max-height: 38rem;
    }
    &-img {
    max-width: 80%;
    }
    &-form--select {
      max-width: 80%;
      max-height: 20%;
      margin: 1em auto 2.5em auto;
    }
    &-text {
      display: none;
    }
  }
}
