// import des variables sass 
@import '../../styles/_vars.scss';
main::-webkit-scrollbar{
  display: none;
}
main{
  width: 100%;
  flex-direction: column;
  flex: 1;
  scrollbar-width: none;
}
.page-title{
  font-size: 2.5em;
  background-color: $tertiary-color;
  color: white;
  font-weight: 700;
  border-radius: 2.5em;
  margin: 2rem auto;
  width: 80%;
}
.relative-card {
  position: relative;
  top: -7em;
  flex-direction: column;
}
.producteurs {
  width: 80%;
  margin: auto;

  &-list {
    perspective: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 50px;
  }
  &-img-container{
    max-height: 22em;
    overflow: hidden;
    margin-bottom: 2em;
    border-radius: 2.5em;
    border: 5px solid $last-color;
  }
  &-card {
    flex-direction: column;
    width: 616px;
    margin: 5em 2em;
    padding: 3em;
    padding-bottom: 0;
    background-color: $tertiary-color;
    border-radius: 2.5em;
    position: static;
    transition: width 0.7s, height 0.7s, transform 0.7s;
    color: $last-color;

    &:hover {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
      cursor: pointer;
    }
    &-img {
      width: 100%;
      height: auto;
    }
    &-text {
      margin: 2.5em auto;
      font-size: 1.3em;
      text-align: right;
    }
    &-name {
      text-align: center;
      font-size: 1.5em;
      font-weight: bold;
      margin: 1.2em auto 2em auto;
    }
    &-read-more {
      margin-top: 2em;
      font-size: 1.3em;
      text-decoration: none;
      text-align: right;
    }
  }
}
.tags-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 3em;


  &::-webkit-scrollbar {
    display: none;
  }
  .tag{
    background-color: $last-color;
    border-radius: 2.5em;
    transition: transform 0.7s;
    padding: 0.1em;
    margin: 0.5em;

    &:hover{
      -webkit-transform: scale(1.2);
      cursor: pointer;
    }
    .p{
      color: white;
      font-size: large;
      margin: 5px 10px;
      padding: 0.1em;
    }

    a {
      text-align: right;
      text-decoration: underline;
      margin-right: 2.5em;
      color: black;
    }
  }
}

@media(max-width: $bp-tablet)
{
  .tags-container:first-child(){
    justify-content: start;
  }
  .producteurs-card{
    height: 670px;
  }
  .producteurs-card:nth-child(8n){
    height: 760px;
  }
}
@media(max-width: $bp-phone)
{
  .page-title{
    width: fit-content;
  }
  .tags-container{
    overflow: auto;
  }
  .producteurs-card{
    height: 36em;
    width: 560px;
    margin: 5em 0;
    &-text{
      height: 8.6em;
      overflow: scroll;
    }
    &-name{
      margin: 1em;
    }
    &-text{
      margin-top: 1em;
    }
  }
}

