.app {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex: auto 1 auto;

  header{
    display: flex;
    flex-direction: row;
  }

  footer{
    display: flex;
    flex-direction: row;
  }
}

.app img {
  max-width: 150px;
  
}

.app Accueil {
  height: 500px;
  margin-top: 50px;
}

