@import '../../styles/_vars.scss';
.app {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: $main-font;

  header{
    display: flex;
    flex-direction: row;
    color: white;
    background-color: $main-color;
    a{
      color: white;
    }
  }

  footer{
    display: flex;
    flex-direction: row;
    color: white;
    background-color: $main-color;
    a{
      color: white;
    }
  }
}

.app img {
  max-width: 150px;
  
}

.app Accueil {
  height: 500px;
  margin-top: 50px;
}

