//font
$main-font: 'montserrat';

//colors
$main-color: #86d6f9;
$secondary-color: #5bc148;
$tertiary-color: #74b2df;
$last-color: #004c73;
$fifth-color: #10d15d;

//point de bascule pour le entre desktop tablette et telephone
$bp-phone: 520px;
$bp-tablet: 1080px;

