.edit{
  &-container{
    display: flex;
    flex-direction: row;
    background-color: white;
    justify-content: space-around;
    align-items: center;
    border-radius: 2.5em;
    width: 100px;
    height: 30px;
    color: blue;
    font-size: large;
  }
}
